.header {
  position: absolute;
  right: 45px;
  top: 45px;

  .menu {
    background-color: #004650;
    position: relative;
    width: 370px;
    height: 650px;
    border-radius: 25px;
  }
}

// @media (max-width: 1024px) {
//   .menu {
//     width: 200px;
//     height: 650px;
//   }
// }
