.backgroundImage {
  filter: brightness(60%);
  height: 100%;
  position: absolute;
  width: 100%;
}

.backgroundImage img {
  object-fit: cover;
}

.intro {
  display: flex;
  width: 100%;
}

.CTA {
  color: #50192f;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: left;
  margin-top: -6rem;
  padding: 2.5rem;
  width: 65%;
}

.button {
  border-radius: 12px;
  border: 2px solid #50192f;
  color: #50192f;
  padding: 4px 50px;
}

.button:hover {
  background-color: #50192f;
  color: #fae4cd;
}

@media (min-width: 1024px) {
  .CTA {
    margin-top: -7rem;
    padding-left: 12.5rem;
    width: 55%;
  }
}

@media only screen and (max-width: 600px) {
  .CTA {
    font-size: 0.8rem;
  }
}
