.backgroundImage {
  filter: brightness(60%);
  height: 100%;
  position: absolute;
  width: 100%;
}

.backgroundImage img {
  object-fit: cover;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.CTA {
  color: #50192F;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 2rem;
  margin-top: 3.5rem;
  padding: 3.5rem;
  width: 65%;
}

.button {
  border-radius: 14px;
  border: 2px solid #50192F;
  color: #50192F;
  padding: 4px 50px;
}

.button:hover {
  background-color: #50192F;
  color: #FAE4CD;
}

@media (min-width: 1024px) {
  .CTA {
    margin-top: -6.3rem;
    padding-left: 12.5rem;
    width: 55%;
  }
}