.button {
  border-radius: 25px;
  color: #dee0e9;
  cursor: pointer;
  font-family: 'Syne', serif;
  font-weight: 600;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;

  .slider {
    height: 100%;
    position: relative;
    width: 100%;

    .element {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;

      &:nth-of-type(2) {
        position: absolute;
        top: 100%;
      }
    }
  }
}
