.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;

  .body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: #dee0e9;
      font-size: 40px;
      text-decoration: none;
    }

    a:hover {
      border-bottom: 2px solid;
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;

    a {
      color: #dee0e9;
      width: 50%;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
