.introduction {
  align-items: center;
  background-color: #50192f;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 99;

  svg {
    height: calc(100% + 300px);
    position: absolute;
    top: 0;
    width: 100%;

    path {
      fill: #50192f;
    }
  }

  p {
    align-items: center;
    color: #f99f7e;
    display: flex;
    font-size: 42px;
    position: absolute;
    z-index: 1;
  }
}
