.wrapper {
    box-sizing: content-box;
    height: 189px;
    display: flex;
    margin-bottom: 4rem;
}

.words {
    overflow: hidden;
}

.words h1 {
    display: block;
    height: 130%;
    padding-left: 1rem;
    animation: spin_words 10s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-212%);
    }
    25%{
        transform: translateY(-200%);
    }
    35%{
        transform: translateY(-312%);
    }
    50%{
        transform: translateY(-300%);
    }
    60%{
        transform: translateY(-412%);
    }
    75%{
        transform: translateY(-400%);
    }
    85%{
        transform: translateY(-512%);
    }
    100%{
        transform: translateY(-500%);
    }
}