@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Fasthand&family=Koulen&family=Syne:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* overflow: hidden; */
  font-size: 1.1rem;
  /* cursor: wait; */
}

:root {
  /* Font styles */
  --font-body: 'Syne', sans-serif;
  --font-headings: 'Syne', sans-serif;
  --font-italic: 'EB Garamond', serif;
  --font-tagline: 'Fasthand', cursive;
}

h2,
h3,
h4,
h5,
button,
label {
  font-family: var(--font-headings);
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-family: 'Koulen', serif;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.65rem;
}

h3 {
  font-size: 1.03rem;
}

h4 {
  font-size: 0.75rem;
}

h5,
label {
  font-size: 0.65rem;
}

input,
li,
button {
  font-size: 0.95rem;
  line-height: 1.55rem;
}

em {
  font-family: var(--font-italic);
  font-size: 3.25rem;
  line-height: 4rem;
}
